body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.main-text {
    width: 70%;
    height: 50%;
    box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: auto; 
    padding: 50px 80px;
    
}

header {
    color: #171717;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: -0.21px;
    line-height: normal;
}

.letter {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    float: left;
    margin-top: -16px;
    padding-right: 20px;
}

article {
    color: #808080;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.hooks {
    font-size: 60px;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    
}

.paragraph {
    font-size: 18px;
    font-style: italic;
}

.discover-footer {
    color: #eaa258;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 3.6px;
    line-height: normal;

}
footer {
    border: 1px solid #eaa258;
    width: 170px;
}







